* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 15px;
  height: 400px;
}

/* Left and right column */
.column.side {
  width: 25%;
  background-color: #aaa;
}

/* Middle column */
.column.middle {
  width: 50%;
  background-color: #bbb;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
.h3 {
  border: black;
  color: blue;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}
